body{
    background-color: #1D1E20;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    position: fixed;
    z-index: 1;
}

.logo{
    position: absolute;

    height: 107.54609680175781px;
    width: 124.38249206542969px;
    left: 271px;
    top: 58px;
    border-radius: 0px;
}

.about{
    position: absolute;
    width: 80px;
    height: 30px;
    left: 1251px;
    top: 72px;

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;

    color: #13F7D2;
}

.contact{
    position: absolute;
    height: 30px;
    width: 103px;
    left: 1478px;
    top: 72px;
    border-radius: nullpx;

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;

    color: #13F7D2;
}

main img{
    position: absolute;
    width: 500px;
    height: 498px;
    left: 332px;
    top: 255px;
}

.texts h1{
    position: absolute;
    width: 242px;
    height: 61px;
    left: 901px;
    top: 297px;

    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;

    letter-spacing: 0.2em;

    color: #13F7D2;
}

.texts h2{
    position: absolute;
    width: 580px;
    height: 74px;
    left: 899px;
    top: 395px;

    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;

    color: #FFFFFF;
}

.texts p{
    position: absolute;
    width: 662px;
    height: 169px;
    left: 894px;
    top: 492px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.socials{
    position: absolute;
    width: 357px;
    height: 60px;
    left: 765px;
    top: 885px;
}

footer{
    position: absolute;
    width: 410px;
    height: 24px;
    left: 760px;
    top: 968px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.menu{
    display: none;
    position: absolute;
    width: 43px;
    height: 28px;
    left: 340px;
    top: 47px;
}
/* For mobile */
@media screen and (max-width: 800px) {
    .menu{
        display: block;
    }
    .socials{
        position: absolute;
        width: 357px;
        height: 60px;
        left: 23px;
        top: 1089px;
    }
    footer{
        position: absolute;
        width: 370px;
        height: 49px;
        left: 25px;
        top: 1170px;

        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .texts p{
        position: absolute;
        width: 361.35px;
        height: 283px;
        left: 26.82px;
        top: 754px;

        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .texts h2{
        position: absolute;
        width: 362.31px;
        height: 99px;
        left: 29.69px;
        top: 638px;

        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    .texts h1{
        position: absolute;
        width: 361px;
        height: 51px;
        left: 31px;
        top: 570px;

        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.2em;
    }
    main img{
        position: absolute;
        width: 331px;
        height: 358px;
        left: 27px;
        top: 122px;
    }
    .logo{
        position: absolute;
        width: 62px;
        height: 54px;
        left: 27px;
        top: 38px;
    }
}